spring:
  profiles:
    include: oauth
  datasource:
    url: jdbc:h2:tcp://localhost/~/springaws
    username: sa
    password: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace

# mustache force encoding
server.servlet.encoding.force-response: true